{% load static %}



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%}iMon - Infrastructure Monitor{% endblock %}</title> 

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  
  <body class="container-fluid p-0 m-0">
    <main class="d-flex flex-column p-0 m-0">
    
    	<!-- NavBar Start-->
    	<nav class="navbar navbar-expand-lg bg-primary rounded">
			  <div class="container-fluid">
					<a class="navbar-brand text-light col-sm-3" href="{% url 'home' %}">
						<div class="d-flex row">
							<h4 class="col" >iMon - Infrastructure Monitor</h4>
					    <small class="col small align-top p-0 font-size:">beta</small>
				    </div>
				  </a>

			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			        <li class="nav-item">
			          <a class="nav-link active text-light" aria-current="page" href="/servers">Servers</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link text-light" href="/databases">Databases</a>
			        </li>
			        <li class="nav-item dropdown">
			          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			            More
			          </a>
			          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
			            <li><a class="dropdown-item" href="{% url 'admin:index' %}" target="_blank" rel=”noopener noreferrer”>Admin</a></li>
			            <li><a class="dropdown-item" href="/api" target="_blank" rel=”noopener noreferrer”>Rest API</a></li>
			            <li><hr class="dropdown-divider"></li>
			            <li><a class="dropdown-item" href="#">Something else here</a></li>
			          </ul>
			        </li>
			        <!-- <li class="nav-item">
			          <a class="nav-link disabled">Disabled</a>
			        </li> -->
			      </ul>
			      <form class="d-flex" role="search">
			        <input class="text-light form-control me-2" type="search" placeholder="Search" aria-label="Search">
			        <button class="border text-light btn btn-outline-success" type="submit">Search</button>
			      </form>
			    </div>   <!-- navbarSupportedContent id ends -->
			  </div>  <!-- container-fluid Ends -->
		</nav>		<!-- NavBar end -->
	
		<div class="d-flex flex-sm small p-0 m-0 col-12" style="overflow-x: auto">
    {% block content %} {% endblock %}
		</div>

    </main>

  <!-- Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>	
	
	<!-- htmx -->
	<script src="https://unpkg.com/htmx.org@1.8.0"></script>

  </body>
</html>