{% extends 'templates/_base.html' %}

{% block title %} Servers {% endblock %}
{% block content %}

<!--   <div id="server-main" class=" p-2 m-2">
    <div id="search-bar">  
      {% include 'templates/components/search-bar.html' %}
    </div>  
    <div id="addServerButton" class="mx-3">
      {% include 'templates/components/addServerButton.html' %}
    </div>
    <div id="server-list" class="p-2 m-2">
      {% include 'templates/components/servers_list.html' %}
    </div>
  </div> -->

  <div id="server-main" class="col-12">
    {% include 'templates/components/server_home.html' %}
  </div>

{% endblock %}