
{% load crispy_forms_tags %}

  <form  class="form-group my-3 m-1" hx-post="{% url 'server-detail-web' server.slug %}"> {% csrf_token %}
    <table>
      <tr class="form-group row">
        {% for field in form %}
          <td class="form-control col"> {{ field | as_crispy_field }} </td>
        {% endfor %}
      </tr>
    </table>
    <div class="container text-center my-2">
      <input class="btn btn-primary btn-outline btn-sm col" type="submit" href="{% url 'server' %}" name="save" value="Save">
      <a class="btn btn-secondary btn-outline  btn-sm col" href="{% url 'server' %}">Back</a>
      <a class="btn btn-danger btn-outline btn-sm col" hx-post="{% url 'delete-server' server.slug %}" hx-target="#server-main">Delete</a>
    </div>
  </form>

<!--  ---------------------------Test------------------------------  -->

<!--  ---------------------------Test------------------------------  -->


{% include 'templates/components/server_Metric.html' %}
